body {
  color: $color-black;
  background-color: $color-cream;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.page-enter-active, .page-leave-active {
  transition: opacity .7s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}