body {
  color: $color-black;
  background-color: $color-cream;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

section {
  margin: 40px 0 80px 0;
}

a {
  &:link {
    color: $color-blue;
  }
  &:visited {
    color: $color-blue;
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .7s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}